#storyboard-container {
    display: block;
    position: relative;
    
    text-align: center;
    max-width: 536px;
    height: 728px;

    border: solid 20px rgba(255,220,1,1);
    background: rgba(245,245,245,1);
    left: 790px;
    z-index: 2;
}

#storyboard-container img {
    height: 250px;
    padding: 0px 10px 0px 10px
}

#wedding-link {
    position: absolute;

    top: 80px;
    left: 350px;
    width: 110px;
    height: 110px;
    cursor: pointer;
    border: solid 2px red;
}

/* Makes the text fade in, I put the every curclybracket in line to make it easier to read as there's only one line per bracket */
#line1, #line2, #line3, #line4, #line5 {
    opacity: 0;
    animation-name: chat-text-appear;
    animation-duration: 1s;
    animation-timing-function: ease; 
    animation-fill-mode: forwards;
}

#line1 { animation-delay: 1s; }
#line2 { animation-delay: 2s; }
#line3 { animation-delay: 3s; }
#line4 { animation-delay: 4s; }
#line5 { animation-delay: 5s; }

h1 {
    position: relative;
    opacity: 0;
    z-index: 2;

    animation:  chat-text-appear 1s ease 6s 1 forwards, 
                shake-text 1s ease-out 7s infinite forwards;
                /* , 
                text-chopper 0.1s linear 12s infinite forwards, 
                text-fly-away 3s linear 13s 1 forwards; */
}

@keyframes chat-text-appear {
    100% { opacity: 1; }
}

@keyframes shake-text {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(5deg);
    }
    20% {
        transform: rotate(-5deg);
    }
    30% {
        transform: rotate(5deg);
    }
    40% {
        transform: rotate(-5deg);
    }
}

/* @keyframes text-chopper {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes text-fly-away {
    0% {
        top: 0px;
        left: 0px;
    }
    20% {
        top: 60px;
        left: 80px;
    }
    45% {
        top: 150px;
        left: 120px;
    }
    80% {
        top: 400px;
        left: -300px;
    }
    100% {
        top: -1500px;
        left: -1500px;
    }
} */

#ufo-container {
    /* Just needs to change the --ufo-width and the second variable will get the half
        I did it this way or else the circle goes too far away from its position */
    --orbit-size: 100px;
    --orbit-size-half: calc(var(--orbit-size)/2);

    

    /* Ufo size and scaling. The scale it gets to its target, might have to change it manually on the fly away animation */
    --ufo-size: 50px;
    
    z-index: 1;
    position: absolute;
    width: var(--orbit-size);
    height: var(--orbit-size);
    top: -50px;
    left: -250px;
    
    border: solid 2px red;
    border-radius: 50%;
    transform: translateX(var(--orbit-size-half));

    /* Animation-timer and iterations needs to be synced between "ufo-orbit" and "ufo-counter-rotate" keyframes
       I added variables for easy editing so we don't have to do head math every time we change something */
    --ufo-flies-in-delay: 9s;
    --ufo-flies-in-duration: 2s;

    /* For the orbit animation */
    --orbit-timer: 1.5s; /* Duration of each orbit */
    --orbit-iterations: 4; /* Number of orbits */
    --orbit-delay: calc(var(--ufo-flies-in-duration) + var(--ufo-flies-in-delay)); /* Delay for starting the orbit */

    /* For the ufo flies away animation */
    --ufo-flies-away-duration: 2s; /* How fast it flies away */
    --ufo-flies-away-delay: calc(var(--orbit-delay) + var(--orbit-timer) * var(--orbit-iterations)); /* Delay for flying away */
}

#ufo-container {
    animation:  ufo-flies-in var(--ufo-flies-in-duration) ease var(--ufo-flies-in-delay) forwards,
                ufo-orbit var(--orbit-timer) linear var(--orbit-delay) var(--orbit-iterations),
                ufo-flies-away var(--ufo-flies-away-duration) ease-in var(--ufo-flies-away-delay) forwards;
}

@keyframes ufo-flies-in {
    0% {  /* Start Position */
        top: -50px; 
        left: -250px;
        transform: translateX(var(--orbit-size-half)) scale(1);
    }
    20% {   /* To the hotel */
        top: 650px;
        left: 450px;
        transform: translateX(var(--orbit-size-half)) scale(1.6);
    }
    40% {   /* To the casino */
        top: 430px;
        left: 30px;
        transform: translateX(var(--orbit-size-half)) scale(1.5);
    }
    60% {   /* To the tesla shop */
        top: 250px;
        left: 450px;
        transform: translateX(var(--orbit-size-half)) scale(1.2);
    }
    80% {   /* To the pawn shop */
        top: 150px;
        left: 50px;
        transform: translateX(var(--orbit-size-half)) scale(1.1);
    }
    100% {  /* To the elvis chapel */
        top: 80px;
        left: 350px;
        transform: translateX(var(--orbit-size-half)) scale(1.05);
    }
}

/* This rotates the container */
@keyframes ufo-orbit {
    0% {
        transform: rotate(0deg) translateX(var(--orbit-size-half)) scale(1.05);
    }
    100% {
        transform: rotate(-360deg) translateX(var(--orbit-size-half)) scale(1.05);
    }
}

@keyframes ufo-flies-away {
    0% {  /* To the elvis chapel */
        top: 80px;
        left: 350px;
        transform: translateX(var(--orbit-size-half)) scale(1.05);
    }
    20% {   /* To the pawn shop */
        top: 150px;
        left: 50px;
        transform: translateX(var(--orbit-size-half)) scale(1.1);
    }
    40% {   /* To the tesla shop */
        top: 250px;
        left: 450px;
        transform: translateX(var(--orbit-size-half)) scale(1.2);
    }
    60% {   /* To the casino */
        top: 430px;
        left: 30px;
        transform: translateX(var(--orbit-size-half)) scale(1.5);
    }
    80% {   /* To the hotel */
        top: 650px;
        left: 450px;
        transform: translateX(var(--orbit-size-half)) scale(1.6);
    }
    100% {  /* Start Position */
        top: -50px; 
        left: -250px;
        transform: translateX(var(--orbit-size-half)) scale(1);
    }
}

#ufo {
    position: absolute;
    width: var(--ufo-size);

    top: 50%;
    left: 50%;  
    /* transform: translate(-50%, -50%); */
    
    animation: ufo-counter-rotate var(--orbit-timer) linear var(--orbit-delay) var(--orbit-iterations);
}

/* This adds counter rotation to the ufo so it doesn't go upside down */
@keyframes ufo-counter-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);

    }
}