#storyboard-container {
    display: block;
    position: relative;
    
    text-align: center;
    max-width: 536px;
    height: 728px;

    border: solid 20px rgba(255,220,1,1);
    background: rgba(245,245,245,1);
    left: 790px;
    z-index: 2;
}

#storyboard-container img {
    height: 250px;
    padding: 0px 10px 0px 10px
}

#tesla-link {
    position: absolute;

    top: 220px;
    left: 530px;
    width: 160px;
    height: 110px;
    cursor: pointer;
}

/* Makes the text fade in, I put the every curclybracket in line to make it easier to read as there's only one line per bracket */
#line1, #line2, #line3, #line4, #line5 {
    opacity: 0;
    animation-name: chat-text-appear;
    animation-duration: 1s;
    animation-timing-function: ease; 
    animation-fill-mode: forwards;
}

#line1 { animation-delay: 1s; }
#line2 { animation-delay: 2s; }
#line3 { animation-delay: 3s; }
#line4 { animation-delay: 4s; }
#line5 { animation-delay: 5s; }

h1 {
    position: relative;
    opacity: 0;
    z-index: 2;
    /* Longer delay so it appears AFTER the UFO crashes into the sign */
    animation:  chat-text-appear 1s ease 11.2s 1 forwards, 
                shake-text 1s ease-out 12.2s infinite forwards;
}

@keyframes chat-text-appear {
    100% { opacity: 1; }
}

@keyframes shake-text {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(5deg);
    }
    20% {
        transform: rotate(-5deg);
    }
    30% {
        transform: rotate(5deg);
    }
    40% {
        transform: rotate(-5deg);
    }
}

#ufo-container {
    /* Just needs to change the --ufo-width and the second variable will get the half
        I did it this way or else the circle goes too far away from its position */
    --orbit-size: 100px;
    --orbit-size-half: calc(var(--orbit-size)/2);

    

    /* Ufo size and scaling. The scale it gets to its target, might have to change it manually on the fly away animation */
    --ufo-size: 50px;
    
    z-index: 1;
    position: absolute;
    width: var(--orbit-size);
    height: var(--orbit-size);
    top: -50px;
    left: -250px;
    
    border-radius: 50%;
    transform: translateX(var(--orbit-size-half));

    /* Animation-timer and iterations needs to be synced between "ufo-orbit" and "ufo-counter-rotate" keyframes
       I added variables for easy editing so we don't have to do head math every time we change something */
    --ufo-flies-in-delay: 7s;
    --ufo-flies-in-duration: 0.5s;

    /* For the orbit animation */
    --orbit-timer: 0.5s; /* Duration of each orbit */
    --orbit-iterations: 5; /* Number of orbits */
    --orbit-delay: calc(var(--ufo-flies-in-duration) + var(--ufo-flies-in-delay)); /* Delay for starting the orbit */

    /* For the ufo flies away animation */
    --ufo-flies-away-duration: 2s; /* How fast it flies away */
    --ufo-flies-away-delay: calc(var(--orbit-delay) + var(--orbit-timer) * var(--orbit-iterations)); /* Delay for flying away */
}

#ufo-container {
    animation:  ufo-flies-in var(--ufo-flies-in-duration) linear var(--ufo-flies-in-delay) forwards,
                ufo-orbit var(--orbit-timer) linear var(--orbit-delay) var(--orbit-iterations),
                ufo-flies-away var(--ufo-flies-away-duration) linear var(--ufo-flies-away-delay) forwards;
}

@keyframes ufo-flies-in {
    0% {
        top: 700px;
        transform: translateX(var(--orbit-size-half)) scale(1.8);
    }
    100% {
        top: 220px;
        left: 540px;
        transform: translateX(var(--orbit-size-half)) scale(1.2);
    }
}


/* This rotates the container */
@keyframes ufo-orbit {
    0% {
        transform: rotate(0deg) translateX(var(--orbit-size-half)) scale(1.2);
    }
    100% {
        transform: rotate(-360deg) translateX(var(--orbit-size-half)) scale(1.2);
    }
}

@keyframes ufo-flies-away {
    0% {  /* From Tesla shop */
        top: 220px;
        left: 540px;
        transform: translateX(var(--orbit-size-half)) scale(1.2);
    }
    10% {   /* Speeding into the Las Vegas sign */
        top: 130px;
        left: 820px;
        transform: translateX(var(--orbit-size-half)) scale(1.1) rotate(-10);
        z-index: 3;
    }
    15% {
        top: 120px;
        left: 830px;
        transform: translateX(var(--orbit-size-half)) scale(1.1) rotate(-20deg);
        z-index: 3;
    }
    20% {
        top: 130px;
        left: 820px;
        transform: translateX(var(--orbit-size-half)) scale(1.1) rotate(5deg);
        z-index: 3;
    }
    40% {   /* Flies back a bit*/
        top: 250px;
        left: 300px;
        transform: translateX(var(--orbit-size-half)) scale(1.2);
        z-index: 1;
    }
    60% {   /* Pauses a little */
        top: 230px;
        left: 290px;
        transform: translateX(var(--orbit-size-half)) scale(1.2) rotate(10deg);
        z-index: 1;
    }
    100% { /* Hides under the storyboard */
        top: 360px; 
        left: 820px;
        transform: translateX(var(--orbit-size-half)) scale(1.3);
        z-index: 1;

    }
}

#storyboard-container img {
    animation: las-vegas-sign-collision 2s ease-out 10.2s forwards;
}

@keyframes las-vegas-sign-collision {
    10% {
        transform: rotate(20deg);
    }
}

#ufo {
    position: absolute;
    width: var(--ufo-size);

    top: 50%;
    left: 50%;  
    /* transform: translate(-50%, -50%); */
    
    /* animation: ufo-counter-rotate var(--orbit-timer) linear 2.7s var(--orbit-iterations); */
}

/* COUNTER ROTATION DISABLED IN TESLA SO IT LOOKS LIKE THE UFO IS JOYRIDING WITH LOOPS AND NOT JUST HOOVERING */

/* This adds counter rotation to the ufo so it doesn't go upside down */
/* @keyframes ufo-counter-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);

    }
} */