#storyboard-container {
    display: block;
    position: relative;
    
    text-align: center;
    max-width: 536px;
    height: 728px;

    border: solid 20px rgba(255,220,1,1);
    background: rgba(245,245,245,1);
    left: 790px;
    z-index: 4;
}

#storyboard-container img {
    height: 250px;
    padding: 0px 10px 0px 10px
}

#casino-link {
    position: absolute;

    top: 450px;
    left: 60px;
    width: 110px;
    height: 110px;
    cursor: pointer;
    z-index: 2;
}

/* Makes the text fade in, I put the every curclybracket in line to make it easier to read as there's only one line per bracket */
#line1, #line2, #line3, #line4, #line5 {
    opacity: 0;
    animation-name: chat-text-appear;
    animation-duration: 1s;
    animation-timing-function: ease; 
    animation-fill-mode: forwards;
}

#line1 { animation-delay: 1s; }
#line2 { animation-delay: 2s; }
#line3 { animation-delay: 3s; }
#line4 { animation-delay: 4s; }
#line5 { animation-delay: 5s; }

h1 {
    position: relative;
    opacity: 0;
    z-index: 2;

    animation:  chat-text-appear 1s ease 6s 1 forwards, 
                shake-text 1s ease-out 7s infinite forwards;

}

@keyframes chat-text-appear {
    100% { opacity: 1; }
}

@keyframes shake-text {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(5deg);
    }
    20% {
        transform: rotate(-5deg);
    }
    30% {
        transform: rotate(5deg);
    }
    40% {
        transform: rotate(-5deg);
    }
}


#ufo-container {
    /* To make something orbit you put something(ufo) in a container(ufo-container) and move it to the left or something.
        Then you make the container rotate */

    /* Orbit and Ufo size */
    --orbit-size: 100px;
    --ufo-size: 50px;
    
    z-index: 2;
    position: absolute;
    width: var(--orbit-size);
    height: var(--orbit-size);
    top: -50px;
    left: -250px;
    border-radius: 50%; /* Makes it a circle */
    
    /* Animation-timer and iterations needs to be synced between "ufo-orbit" and "ufo-counter-rotate" keyframes
       I added variables for easy editing so we don't have to do head math every time we change something */
    --ufo-flies-in-delay: 6s;
    --ufo-flies-in-duration: 1.5s;

    /* For the orbit animation */
    --orbit-timer: 1s; /* Duration of each orbit */
    --orbit-iterations: 5; /* Number of orbits */
    --orbit-delay: calc(var(--ufo-flies-in-duration) + var(--ufo-flies-in-delay)); /* Delay for starting the orbit */

    /* For the ufo flies away animation */
    --ufo-flies-away-duration: 2s; /* How fast it flies away */
    --ufo-flies-away-delay: calc(var(--orbit-delay) + var(--orbit-timer) * var(--orbit-iterations)); /* Delay for flying away */
}

#ufo-container {
    animation:  ufo-flies-in var(--ufo-flies-in-duration) linear var(--ufo-flies-in-delay) forwards,
                ufo-orbit var(--orbit-timer) linear var(--orbit-delay) var(--orbit-iterations),
                ufo-flies-away var(--ufo-flies-away-duration) ease-in-out var(--ufo-flies-away-delay) forwards;
}

@keyframes ufo-flies-in {
    0% {  /* Start Position Under storyboard */
        top: 360px; 
        left: 820px;
        transform:  scale(1.4);
    }
    100% {  /* To the casino */
        top: 440px;
        left: 50px;
        transform:  scale(1.5);
    }
}

/* This rotates the container */
@keyframes ufo-orbit {
    0% {
        transform: rotate(0deg)  scale(1.5);
    }
    100% {
        transform: rotate(360deg)  scale(1.5);
    }
}

@keyframes ufo-flies-away {
    0% { /* Start from the casino */
        top: 440px;
        left: 50px;
        transform: scale(1.5);
    }
    10% { /* Flies to the tesla */
        top: 395px;
        left: 315px;
        transform: scale(1.5) rotate(-5deg);
    }
    70% {/* Stays at the tesla for a while, tractor beaming it */
        top: 390px;
        left: 315px;
        transform: scale(1.5) rotate(5deg);
    }
    75% { /* Flies down a little spots something */
        top: 450px;
        left: 130px;
        transform:  scale(1.55) rotate(0deg);
    }
    90% {   /* Realize it's a F-35 Fighter  */
        top: 450px;
        left: 130px;
        transform:  scale(1.55) rotate(0deg);

    }
    100% {  /* Flies away from the F-35 Fighter Jet */
        top: -150px; 
        left: 900px;
        transform:  scale(0.8);
    }
}

#ufo {
    position: absolute;
    width: var(--ufo-size);

    top: 50%;
    left: 80%;  
    
    animation: ufo-counter-rotate var(--orbit-timer) linear var(--orbit-delay) var(--orbit-iterations);
    z-index: 2;
}

/* This adds counter rotation to the ufo so it doesn't go upside down */
@keyframes ufo-counter-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);

    }
}

#tesla-car {
    position: absolute;
    width: 40px;
    top: 500px;
    left: 800px;
    z-index: 1;

    animation: tesla-drive 3s ease-out 6s forwards,
                tesla-tractored 1s ease-in 12.7s forwards;
}

@keyframes tesla-drive {
    100% {
        left: 425px;
    }
}

@keyframes tesla-tractored {
    0% {
        left: 425px;
        transform: scale(1) rotate(-5deg);
    }
    20% {
        transform: scale(0.95) rotate(5deg);
    }
    40% {
        transform: scale(0.90) rotate(-5deg);
    }
    60% {
        transform: scale(0.85) rotate(5deg);
        opacity: 1;
    }
    80% {
        transform: scale(0.80) rotate(-5deg);
        opacity: 1;
    }
    100% {
        left: 425px;
        top: 480px;
        transform: scale(0.65);
        opacity: 0;
    }
}

/* UFO's Tractor beam, it's fixed in the world and does not follow the UFO. I did it because the Tesla's not moving anyway */
#tractor-beam {
    position: absolute;

    z-index: 5;
    top: 455px;
    left: 430px;  
    
    width: 30px;
    height: 45px;   

    opacity: 0;
    z-index: 1;
    background: rgba(0, 255, 255,0.8);
    transform: perspective(20px) rotateX(25deg);

    animation: tractor-beaming 1s linear 12.7s forwards;
}

@keyframes tractor-beaming {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 0.2;
    }
    15% {
        opacity: 0.9;
    }
    17% {
        opacity: 1;
    }
    18% {
        opacity: 0.7;
    }
    20% {
        opacity: 0.4;
    }
    30% {
        opacity: 0.12;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Fighter jet that chases the UFO */
#fighter-jet {
    position: absolute;
    width: 60px;
    left: -100px;
    top: 700px;
    transform: scaleX(-1) rotate(75deg) scale(1);
    z-index: 2;

    animation: fighter-jet-chase 2s linear 14s forwards;
}

@keyframes fighter-jet-chase {
    0% {
        left: -100px;
        top: 700px;
        transform: scaleX(-1) rotate(75deg) scale(1);
    }
    100% {
        left: 900px;
        top: -100px;
        transform: scaleX(-1) rotate(75deg) scale(0.5);;
    }
}

/* Piece of the map that the tesla drives under */
#map-sign-zdex {
    position: absolute;
    z-index: 2;
    top: -13px;
    left: 0px;
}
